.main
{
	box-sizing: border-box;
	width: 99%;
	height: 99%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2rem;
	grid-template-columns: repeat(2, 1fr);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 60rem)
{
	.main
	{
		height: auto;
		flex-direction: column;
		grid-template-columns: none;
		position: default;
		top: 0%;
		left: 0%;
		transform: none;
	}

	table
	{
		width: 100%;
		height: 100%;
	}

	.colours
	{
		min-height: 100vw;
		max-height: 100vw;
		height: 100vw;
		width: 95vw;
		min-width: 95vw;
		max-width: 95vw;
		padding-right: 0;
		padding-left: 0;
	}

	td input[type="color"]#color-input
	{
		max-width: 14vw;
		min-width: 14vw;
		width: 14vw;
		max-height: 14vw;
		min-height: 14vw;
		height: 14vw;
	}

	.label-td
	{
		max-width: 14vw;
		min-width: auto;
		height: auto;
		max-height: 14vw;
		min-height: auto;
	}

	.xml-area
	{
		min-width: 95vw;
		padding-right: 0;
		padding-left: 0;
		/* min-height: 70vh; */
		/* overflow-y: auto;  */
	}

	.CodeMirror-code
	{
		font-size: .75rem;
	}

	.table-label
	{
		font-size: .75rem;
		max-width: 10vw;
		text-align: left;
	}

	.table-header
	{
		text-align: center;
	}
	
	.CodeMirror
	{
		height: calc(70vh - 9rem);
		min-height: calc(70vh - 9rem);
		max-height: calc(70vh - 9rem);
	}

	.CodeMirror-lines
	{
		max-width: 100%;
	}
}

@media only screen and (min-width: 60rem)
{
	.colours
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 105vh;
		max-width: 70%;
		padding-right: .5rem;
		padding-left: .5rem;
	}

	.table-label
	{
		font-size: 1rem;
		border: none;
		height: 2rem;
		width: 6rem;
		min-width: 2rem;
		min-height: 2rem;
		margin-right: 1vh;
	}

	.table-header
	{
		max-width: 10vw;
		width: 15vh;
	}

	.CodeMirror
	{
		min-height: calc(100vh - 9rem);
	}
}

.xml-area
{
	width: 29%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-right: .5rem;
	padding-left: .5rem;
}

input[type="color"]#color-input
{
	border: none;
	height: 15vh;
	min-height: 2rem;
	max-height: 10vw; 
	width: 15vh;
	min-width: 2rem;
	max-width: 10vw;
	cursor: pointer;
	margin: 0;
}

td
{
	width: 15vh;
	min-width: 2rem;
	max-width: 10vw;
}

.table-label
{
	font-family: 'Consolas', Courier, monospace;
	border: none;
	margin: 0;
	cursor: default;
}

.table-header
{
	text-align: center;
	margin-right: 0;
}

.button-list
{
	height: 2rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: .25rem;
}

.error-message
{
	font-family: 'Consolas', Courier, monospace;
	color: red;
	font-size: 1rem;
	height: 2rem;
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0;
}

button
{
	font-family: 'Consolas', Courier, monospace;
	font-size: .75rem;
	border: none;
	padding: .5rem;
	margin-left: .25rem;
	width: 6rem;
	min-width: 4rem;
	cursor: pointer;
	height: 2rem;
}

.CodeMirror
{
	width: 100%;
	font-size: 1rem;
	margin-bottom: .25rem;
}

select
{
	font-family: 'Consolas', Courier, monospace;
	font-size: .75rem;
	border: none;
	height: 2rem;
	width: 15rem;
	min-width: 4rem;
	max-width: calc(100% - 19rem);
	padding: .5rem;
	margin-left: .25rem;
	text-align: left;
	cursor: pointer;
	flex-grow: 1;
} 
