.main
{
	box-sizing: border-box;
	width: 99%;
	height: 99%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2rem;
	grid-template-columns: repeat(2, 1fr);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1200px)
{
	.main
	{
		height: auto;
		flex-direction: column;
		grid-template-columns: none;
		position: default;
		top: 0%;
		left: 0%;
		transform: none;
	}

	table
	{
		width: 100%;
		height: 100%;
	}

	.colours
	{
		min-height: 100vw;
		max-height: 100vw;
		height: 100vw;
		width: 93vw;
		min-width: 93vw;
		max-width: 93vw;
		padding-right: 0;
		padding-left: 0;
	}

	td input[type="color"]#color-input
	{
		max-width: 14vw;
		min-width: 14vw;
		width: 14vw;
		max-height: 14vw;
		min-height: 14vw;
		height: 14vw;
	}

	.label-td
	{
		max-width: 14vw;
		min-width: auto;
		height: auto;
		max-height: 14vw;
		min-height: auto;
	}

	.xml-area
	{
		min-width: 95vw;
		padding-right: 0;
		padding-left: 0;
	}

	.CodeMirror-code
	{
		font-size: .75rem;
	}

	.table-label
	{
		font-size: .75rem;
		max-width: 10vw;
	}

	.table-header
	{
		width: auto;
		min-width: auto;
	}
	
	.CodeMirror
	{
		height: calc(70vh - 6rem);
		min-height: calc(70vh - 6rem);
		max-height: calc(70vh - 6rem);
	}

	.CodeMirror-lines
	{
		max-width: 80%;
	}

	img
	{
		width: 1rem;
		height: 1rem;
	}
}

@media only screen and (min-width: 1200px)
{
	.colours
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 105vh;
		max-width: 70%;
		padding-right: .5rem;
		padding-left: .5rem;
	}

	.table-label
	{
		font-size: 1rem;
		border: none;
		height: 2rem;
		width: 6rem;
		min-width: 2rem;
		min-height: 2rem;
		margin-right: 1vh;
	}

	.header-td
	{
		width: 15vh;
		max-width: 10vw;
		height: 2rem;
		min-height: 2rem;
	}

	.table-header
	{
		min-height: auto;
		height: auto;
		width: auto;
		min-width: auto;
	}

	.CodeMirror
	{
		min-height: calc(100vh - 9rem);
	}

	input[type="checkbox"]
	{
		margin-left: 2ch;
	}

	img
	{
		width: 2rem;
		height: 2rem;
	}
}

.xml-area
{
	width: 29%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-right: .5rem;
	padding-left: .25rem;
}

input[type="color"]#color-input
{
	border: none;
	height: 15vh;
	min-height: 2rem;
	max-height: 10vw; 
	width: 15vh;
	min-width: 2rem;
	max-width: 10vw;
	cursor: pointer;
	margin: 0;
}

td
{
	width: 15vh;
	min-width: 2rem;
	max-width: 10vw;
}

.table-label
{
	font-family: 'Consolas', Courier, monospace;
	border: none;
	margin: 0;
	cursor: default;
	text-align: right;
}

.table-header
{
	max-width: 8ch;
	display: inline-block;
	text-align: center;
	margin-right: 0;
}

.header-td
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-list
{
	height: 2rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: .25rem;
}

.message
{
	cursor: default;
	font-family: 'Consolas', Courier, monospace;
	font-size: .667rem;
	height: 2rem;
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: .25rem;
	max-width: calc(100% - 12.75rem);
	min-width: 50%;
	flex-grow: 1;
}

button
{
	font-family: 'Consolas', Courier, monospace;
	font-size: .75rem;
	border: none;
	padding: .5rem;
	margin-left: .25rem;
	width: 6rem;
	min-width: 4rem;
	cursor: pointer;
	height: 2rem;
}

.CodeMirror
{
	width: 100%;
	font-size: 1rem;
	margin-bottom: .25rem;
	margin-left: .25rem;
}

select
{
	font-family: 'Consolas', Courier, monospace;
	font-size: .75rem;
	border: none;
	height: 2rem;
	width: 15rem;
	min-width: 4rem;
	max-width: calc(100% - 19rem);
	padding: .5rem;
	margin-left: .25rem;
	text-align: left;
	cursor: pointer;
	flex-grow: 1;
}

img
{
	object-fit: contain;
	display: block;
	margin: auto;
}
